<!DOCTYPE html>
<html>
<head>
    <title>View Config</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Current Configuration</h2>
        <table>
        {% for key, value in config.items() %}
            <tr>
                <td><b>{{ key }}</b></td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
        </table>
        <a href="{{ url_for('config.update_config') }}" class="btn btn-warning">Update Config</a>
    </div>
</body>
</html>
